body {
  text-align: center;
  font-family: "Merriweather", serif;
  margin:0;

}
.bottom-cloud {
  position: absolute;
  left: 300px;
  bottom: 300px;
}
.bottom-container {
  background-color: #66bfbf;
  height: 125px;
  line-height:2;
}
.programmer {
  border-radius: 50%;
  width: 25%;
  float: left;
  margin-right: 30px;
}
.Research{
  width: 25%;
  float: right;
  margin-left: 30px;
  height: 150px;
  width: 150px;
}
.mountain{
  margin:auto;
  width:50%;
}
.contact me {
  line-height:2;
}
.contact-message{
  width:50%;
  padding-bottom:20px;
  margin:auto;
}
h1 {
  font-family: "Sacramento", cursive;
  font-size: 5.625rem;
}
.hola {
  font-size: 2.5rem;
  font-weight: normal;
}
h2 {
  color: #66bfbf;
  font-family: 'Montserrat', sans-serif;
  font-weight:normal;
}
h3 {
  color: #11999e;
  font-family: 'Montserrat', sans-serif;
}
hr {
  border-style: none;
  border-top-style: dotted;
  border-width: 5px;
  width: 5%;
  border-color: grey;
}
.middle-container {
  background-color: #eaf6f6;
  color: #40514e;
  padding: 20px 0px 20px;
}
.pro {
  text-decoration: underline;
}
.pro:hover {
  color: purple;
}
.Profile-photo{
  width:200px;
  height:200px;
  padding-top:20px;
}
.skill-row {
  width: 50%;
  margin: 100px auto 100px;
  text-align: left;
}
.top-container {
  background-color: #eaf6f6;
  color: #66bfbf;
}
.top-cloud {
  position: absolute;
  left:300px;
  top:20px;
}
.footer-link
{
  margin-bottom:30px;
  text-decoration:none;
  padding-top:0px;
  padding-right:20px;
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
  margin-top:30px;
}
.footer-link:hover
{
  color:#eaf6f6;
}
.copyright{
  color: #eaf6f6;
  padding:20px 0px;
  font-size:0.75rem;
}
.btn {
  background: #11CDD4;
  background-image: -webkit-linear-gradient(top, #11CDD4, #11999E);
  background-image: -moz-linear-gradient(top, #11CDD4, #11999E);
  background-image: -ms-linear-gradient(top, #11CDD4, #11999E);
  background-image: -o-linear-gradient(top, #11CDD4, #11999E);
  background-image: linear-gradient(to bottom, #11CDD4, #11999E);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  color: #FFFFFF;
  font-family: monospace;
  font-size: 20px;
  font-weight: 100;
  padding:5px 15px 5px 15px;
  box-shadow: 3px 1px 0px 0px #000000;
  -webkit-box-shadow: 3px 1px 0px 0px #000000;
  -moz-box-shadow: 3px 1px 0px 0px #000000;
  text-shadow: 0px 0px 0px #000000;
  border: solid #FFFFFF 0px;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  text-align: center;
  }
  
  .btn:hover {
  border: solid #66BFBF 1px;
  background: #30E3CB;
  background-image: -webkit-linear-gradient(top, #30E3CB, #2BC4AD);
  background-image: -moz-linear-gradient(top, #30E3CB, #2BC4AD);
  background-image: -ms-linear-gradient(top, #30E3CB, #2BC4AD);
  background-image: -o-linear-gradient(top, #30E3CB, #2BC4AD);
  background-image: linear-gradient(to bottom, #30E3CB, #2BC4AD);
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  text-decoration: none;
  }
